#this is a free api_key, this is the only reason i'm uploading this .env file to git
OPENROUTER_API_KEY=sk-or-v1...
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# Optional overrides
# CHROMA_DIR=app/data/chroma
# DATA_DIR=app/data/docs
# OPENROUTER_MODEL=tngtech/deepseek-r1t2-chimera:free


